.main-nav ul{
    background-color: floralwhite;
    padding-top : 10px;
    padding-bottom: 10px;
}
.main-nav ul li{
    list-style: none;
    display : inline;
    padding-left: 20px;
    padding-right: 20px;
}
.main-nav a{
    font-size : 20px;
    text-decoration: none;
    color : brown;
    text-transform: uppercase;
}
.main-nav a:hover{
    color : navy;
}
.main-nav a.active{
    color : navy;
}