<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{site.title | page.title}}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}"/>
        <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        
        {% for script in layout.head %}
          {% include {{ script }} %}
        {% endfor %}

        <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="ZTY4YTNjNDMtYzMzMi00YzEyLWJlYmItOWU5NWM1OGU2NDJiNjM2MjA5NDY0MDM3NDk1OTEw"></script>

        <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
    </head>
